* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F2F2;
  color: #232C33;
}

a {
  text-decoration: none;
  color: #4E90A3;
}

a:hover {
  color: #52AFC9
}

header {
  margin: 0 auto;
  text-align: center;
  padding:60px 40px 40px 40px
}

h1 {
  text-transform: uppercase;
}

form {
  margin: 0 auto;
  text-align: center;
  margin-bottom:100px;
  display: flex;
  justify-content: center
}

input {
  font-size: 18px;
  padding: 10px;
  width: 50%;
  border: none;
}

button {
  padding: 15px;
  background-color: #F45B69;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  cursor: pointer;
  border-radius: 0;
  font-size: 16px
}

button:hover {
  background-color: #C95D63
}

.js-search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width:80%;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.videoResult {
  margin:0 5px 30px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:30%;
  background-color: #ffffff;
  transition: all .5s ease-in-out;
}

.videoResult:hover {
  background-color: #E8E8E8
}

.videoResult img {
  width:100%;
  margin-bottom: 10px
}

.pagination {
  margin: 40px auto;
  text-align: center;
  display: none;
}

/*lightbox*/

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.videoWrapper {
	position: relative;
	/*padding-bottom: 56.25%; /* 16:9 */
	/*padding-top: 25px;*/
	height: 0;
  width:70%;
  padding: 25px 0 56.25% 0;
  margin: 60px auto 0 auto;
  text-align: center
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
  border:none;
}

.close {
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 85%;
  font-size: 40px;
  background-color: transparent;
  padding: 0
}

.close:hover{
  color: #F45B69;
  background-color: transparent;
  padding: 0
}

.close:focus{
  color: #F45B69;
  background-color: transparent;
  padding: 0
}

    /* Custom, iPhone Retina */
        @media only screen and (min-width : 320px) {

        }

        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {

        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
          .videoResult{
            width: 100%
          }

        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
          main {
            padding: 0 20px 60px 20px;
          }
          .videoResult {
            width: 30%
          }
        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {

        }
